@import "./reset.css";

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Inter:wght@100..900&display=swap');

:root {
  /* Colors */
  --blackpure: #000000;
  --black: #0d1310;
  --black-border: #1b242065;
  --white: #ffffff;
  --purple: #5c8aec;

  --green-dark: #1d3630cc;
  --green-light: #becac4;
  --green: #6e807acc;
  --beige: #ad925a;
  --tan: #e1dfda;
  /* Nav */

  /* Header */
  --header-text: var(--white);
  --header-bg: var( --green);
  /* Footer */

  /* Light mode */

  --nav-bg: var(--green-dark);
  --nav-text: var(--white);

  --footer-bg: var(--green-dark);
  --footer-text: var(--white);


  --page-bg: var(--tan);
  --text-color: var(--black);
  --accent: var(--beige);
  --title-1: var(--accent);

  --project-card-bg: var(--white);
  --project-card-text: var(--green-dark);

  --conract-link: var(--green-dark);
  --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);

  transition: all 0.3s ease-in-out;
}

.dark {
  /* Dark mode */

	--header-bg: var(--black);

  --page-bg: var(--black);
  --text-color: var(--white);

  --title-1: var(--accent);

  --project-card-bg: var(--black-border);
  --project-card-text: var(--white);

  --conract-link: var(--green-light);
  --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

html,
body {
  min-height: 100vh;

  font-family: "Comfortaa", sans-serif;
  letter-spacing: -0.5px;

  /* Light mode */
  background-color: var(--page-bg);
  color: var(--text-color);
  transition: all 0.3s ease-in-out;
}

#root {
  min-height: 100vh;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* General */

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
  padding-top: 67px;
}
.container:not(:has(h1)) {
  padding-top: 0;
}



.none {
  display: none !important;
}

.section {
  padding: 70px 0;
}

.title-1 {
  margin-bottom: 60px;

  font-size: 60px;
  font-weight: 500;
  line-height: 1.3;
  color: var(--title-1);
  text-align: center;
  font-family: "Inter", sans-serif;
}

.title-2 {
  margin-bottom: 20px;
  color: var(--accent);
  font-size: 40px;
  font-weight: 500;
  line-height: 1.3;
  font-family: "Inter", sans-serif;
}

/* Btn */

.btn {
  display: inline-block;
  height: 48px;
  padding: 12px 28px;

  border-radius: 5px;
  background-color: var(--accent);
  color: var(--white);
  letter-spacing: 0.15px;
  font-size: 18px;
  font-weight: 500;

  transition: transform 0.1s ease-in,
  box-shadow 0.1s ease-in;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0px 18px 36px -10px rgba(0,0,0,0.3);
}

.btn:active {
  position: relative;
  top: 1px;
}

/* Projects  */

.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
}

/* Project details */

.project-details {
  margin: 0 auto;
  max-width: 865px;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.project-details__cover {
  max-width: 100%;
  margin-bottom: 40px;
  box-shadow: var(--box-shadow);
  border-radius: 18px;
}

.project-details__desc {
  margin-bottom: 50px;
  width: 100%;
  display: flex;
  gap: 40px;
  text-align: left;

  font-weight: 300;
  font-size: 24px;
  line-height: 1.3;
}

.project-details__skils {
  text-align: left;
  font-weight: 700;
  color: var(--accent);
}

.project-details_text {
  font-size: 18px;
}
.project-details_btns {
  display: flex;
  gap: 10px;
}
/* Content list */

.content-list {
  margin: 0 auto;
  max-width: 570px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  
}

.content-list a {
  color: var(--conract-link);
}

.content-list__item {
  width: 100%;
  font-size: 18px;
  line-height: 1.5;
  
}
.wrapper-card{
  background-color: var(--project-card-bg);
  padding: 30px;
  border-radius: 18px;
  
	box-shadow: var(--box-shadow);
}

.content-list__item p + p {
  margin-top: 0.5em;
}

@media (max-width: 620px) {
  /* Header  */

  .header {
    min-height: unset;
  }

  .header__title {
    font-size: 30px;
  }

  .header__title strong {
    font-size: 40px;
  }

  /* Nav */

  .nav-row {
    justify-content: space-between;
    column-gap: 10px;
  }
  .nav-list {
    column-gap: 20px;
  }

  .dark-mode-btn {
    order: 9;
  }

  /* General */

  .section {
    padding: 40px 0;
  }

  .title-1 {
    margin-bottom: 30px;
    font-size: 40px;
  }

  .title-2 {
    margin-bottom: 10px;
    font-size: 30px;
  }

  /* Projects */

  .project__title {
    font-size: 22px;
  }

  /* Project page */

  .project-details__desc {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
    font-size: 22px;
  }

  /* Content List */

  .content-list {
    row-gap: 20px;
  }

  .content-list__item {
    font-size: 16px;
  }

  /* Footer */

  .footer {
    padding: 40px 0 30px;
  }

  .footer__wrapper {
    row-gap: 20px;
  }

  /* Social */

  .social {
    column-gap: 20px;
  }

  .social__item {
    width: 28px;
  }
}
